.buttonStyle {
  background-color: lightsteelblue;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  display: block;
  width: 150px;
}

.buttonStyle:hover {
  background-color: grey;
}

.linkStyle, .linkStyle:hover {
  text-decoration: none;
  color: black;
  width: 150px;
  display: inline-block;
  margin-bottom: 20px;
}